<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ekmek ve Gül
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="font-xlg">
    Bu uygulama, iki gönüllü yazılımcı tarafından hazırlanmıştır. Ekmek ve Gül internet sitesindeki haberleri, mobil cihazınızdan kolayca okumanızı amaçlar.
  </p>

  <p class="font-xlg">
    Uygulamanın tüm kaynak kodları açıktır.
  </p>

  <p class="font-xlg">
    Katkı sunmak isterseniz <a href="https://gitlab.com/ekmek-ve-gul/ekmek-ve-gul-mobile">GitLab</a> hesabımızı ziyaret edin.
  </p>
</ion-content>
