<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span *ngIf="category">{{ category.title }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="loadTop($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="content-list">
    <ion-card *ngFor="let content of contentList" (click)="handleContentClick(content)">
      <img img-cache [src]="content.content_main_media.url">

      <ion-card-content>
        <ion-card-title>{{ content.title }}</ion-card-title>
        <p>
          {{ content.spot }}
        </p>
        <p class="text-secondary text-right">{{ content.published_at_diff }}</p>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadBottom())" [enabled]="!loadingBottomDisabled" threshold="400px">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Yükleniyor..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
