<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ekmek ve Gül</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides class="mb-5" #headlineSlides autoplay="10000" [centeredSlides]="false" pager="true">
    <ion-slide *ngFor="let content of headline">
      <div (click)="handleContentClick(content)">
        <img img-cache [src]="content.content_main_media.url">
        <h1>{{ content.title }}</h1>
      </div>
    </ion-slide>
    <ion-slide *ngIf="headline.length === 0">Yükleniyor...</ion-slide>
  </ion-slides>

  <div class="content-list mb-5" *ngFor="let category of categories">
    <h1 class="m-10" [ngStyle]="{'color': category.color_code}">{{ category.title }}</h1>

    <ion-card *ngFor="let content of category.contents" (click)="handleContentClick(content)">
      <img img-cache [src]="content.content_main_media.url">

      <ion-card-content>
        <ion-card-title>{{ content.title }}</ion-card-title>
        <p>
          {{ content.spot }}
        </p>
        <p class="text-secondary text-right">{{ content.published_at_diff }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
