page-content {
  .spot {
    color: color($colors, primary);
    font-size: 2rem;
  }

  .text {
    line-height: 1.5;
  }

  .main-media:not(.contains-video) ion-icon {
    display: none;
  }

  .main-media {
    position: relative;
  }

  .main-media.contains-video {
    ion-icon {
      background: color($colors, white-transparent);
      border-radius: 20px;
      font-size: 10rem;
      height: auto;
      left: 38%;
      position: absolute;
      text-align: center;
      top: 32%;
      width: 30%;
    }

    iframe {
      max-width: 100%;
    }
  }
}
