<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span *ngIf="content">{{ content.title }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <h1>{{ content.title }}</h1>
    <p class="text-secondary">{{ content.published_at_diff }}</p>
    <div class="main-media"
      [ngClass]="{ 'contains-video': content.content_main_media.type_id === 'video' }"
      *ngIf="content.content_main_media">
      <img *ngIf="!videoHtml" [src]="content.content_main_media.url">
      <ion-icon *ngIf="!videoHtml" (click)="handlePlayClick()" name="play"></ion-icon>
      <div *ngIf="videoHtml" [innerHtml]="videoHtml"></div>
    </div>
    <p class="spot">
      {{ content.spot }}
    </p>

    <div class="text" (click)="handleInlineLinks($event)" #contentText [innerHtml]="content.text"></div>

    <button ion-button color="secondary" outline block (click)="share()">
      <ion-icon name="share"></ion-icon>&nbsp;PAYLAŞ
    </button>

    <h3 class="heading text-center" *ngIf="content.related_contents && content.related_contents.length > 0">
      İLİŞKİLİ HABERLER
    </h3>

    <div class="content-list">
      <ion-card *ngFor="let item of content.related_contents" (click)="handleContentClick(item)">
        <img *ngIf="content.content_main_media" img-cache [src]="item.content_main_media.url">

        <ion-card-content>
          <ion-card-title>{{ item.title }}</ion-card-title>
          <p>
            {{ item.spot }}
          </p>
          <p class="text-secondary text-right">{{ item.published_at_diff }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
